{% extends "admin.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/scatg.css' %}">
    <title>Show category</title>
</head>
<body>
<center>
    <h2>All Category</h2>
    <div class="contaner-fluid">
        <table style="background-color: blanchedalmond;">
            <tr>
                <th>Category</th>
                <th>Action</th>
            </tr>
            {% for i in catg %}
            <tr>
                <td>{{i.product_category}}</td>
                <td><a href="{% url 'edit_category' i.id %}">Edit</a></td>
            </tr>
            {% endfor %}
        </table>

    </div>
</center>
</body>
</html>
{% endblock %}